<%- include('./partials/nav.ejs') %> 


<link rel="stylesheet" href="css/styleLogin.css">

<body class="login">


        <div class="container"  style="margin-top: 70px;">
            <div class="row justify-content-center ">
                <div class="col-lg-5 col-md-8 col-sm-8 pb-4">
                    <div class="card m-sm-2 p-sm-3 p-md-3"
                        style=" box-shadow: -0.843887px 1.81324px 156px rgba(0, 0, 0, 0.05), -0.496881px 1.06764px 81.3696px rgba(0, 0, 0, 0.03616), -0.255191px 0.548325px 38.1888px rgba(0, 0, 0, 0.02808), -0.102617px 0.220491px 16.7232px rgba(0, 0, 0, 0.02192), -0.0229537px 0.0493202px 7.2384px rgba(0, 0, 0, 0.01384);">
                        <div class="card-title text-center">
                            <h2 class="p-3 ">Editar servicio</h2>
                        </div>
                        <div class="card-body ">
                            <form action="/sendUpdateMercanciaObjetos" method="POST">
                                <input type="hidden" name="id" value="<%= user.id %>">
                                <div class="mb-3 ">
                                    <h5 for="usuario ">HAWB de la mercancía</h5>
                                    <input type="text " class="form-control" name="awb" id="buscador" value="<%= user.awb %>">
                                </div>
                                <div class="mb-3 ">
                                    <h5 for="usuario ">AWB de la mercancía</h5>
                                    <input type="text " class="form-control" name="hawb" id="buscador2" value="<%= user.hawb %>">
                                </div>
                                <div class="mb-3 ">
                                    <h5 for="usuario ">Nombre de la mercancía</h5>
                                    <input type="text " class="form-control" name="name" value="<%= user.name %>" required> 
                                </div>     
                                <div class="mb-3 ">
                                    <h5 for="usuario ">Cliente propietario</h5>
                                    <select class="form-select" aria-label="Default select example" name="cliente" >
                                        <% resultsClient.forEach((DataClient)=> {%>
                                            <option>
                                                <%= DataClient.nombre%>
                                            </option>
                                            <% }) %>

                                      </select>
                                    
                                </div>      
                                <div class="mb-3 ">
                                    <h5 for="usuario ">Fecha de ingreso de la mercancía</h5>
                                    <input type="date" class="form-control" name="fecha" value="<%= user.fecha %>" required>
                                </div>                 
                                       
                        </div>
                        <div class="d-grid ">
                            <button type="submit" class="btn btn-primary" style="background: #000e7c;">registrar mercancía</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <script src=" //cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                                <% if(typeof alert !="undefined" ) { %>
                                    <script>
                                        Swal.fire({
                                            title: '<%=alertTitle %>',
                                            text: '<%= alertMessage%>',
                                            icon: '<%=alertIcon %>',
                                            showConfirmButton: '<%= showConfirmButton %>',
                                            timer: '<%= timer %>'
                                        }).then(() => {
                                            window.location = '/<%= ruta %>'
                                        })
                                    </script>
                                    <% } %>
                                        <script type="text/javascript">
                                            function mostrarPassword() {
                                                var cambio = document.getElementById("txtPassword");
                                                if (cambio.type == "password") {
                                                    cambio.type = "text";
                                                    $('.icon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
                                                } else {
                                                    cambio.type = "password";
                                                    $('.icon').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
                                                }
                                            }
                                            $(document).ready(function () {
                                                //CheckBox mostrar contraseña
                                                $('#ShowPassword').click(function () {
                                                    $('#Password').attr('type', $(this).is(':checked') ? 'text' : 'password');
                                                });
                                            });
                                        </script>
                                        <script>
                                            var inputs = $("input[type=text]");
                                            for (var i = 0; i < inputs.length; i++) {
                                                var aux = $(inputs[i]).val().trim();
                                                $(inputs[i]).val(aux);
                                            }
                                        </script>


    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
    <script>
      $("#buscador").bind('keypress', function(event) {
      var regex = new RegExp("^[a-zA-Z0-9 ]+$");
      var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
      if (!regex.test(key)) {
        event.preventDefault();
        return false;
     }
    });
    $("#buscador2").bind('keypress', function(event) {
      var regex = new RegExp("^[a-zA-Z0-9 ]+$");
      var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
      if (!regex.test(key)) {
        event.preventDefault();
        return false;
     }
    });
    </script>



<%- include('./partials/footer.ejs') %> 